.tabs {
    display: flex;
    justify-content: space-between;
    background-color: rgb(156, 114, 153);
    height: 48px;
}

.tab {
    position: relative;
    cursor: pointer;
}

.tab:hover {
    border-bottom-color: pink;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.tab-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightgrey;
}

.tab-highlighted {
    border-bottom-color: purple;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.tab-highlighted .tab-name {
    color: white;
}

.tab-content {
    padding: 12px;
}

.flex-1 {
    flex: 1;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.show-full-description {
    color: purple;
    cursor: pointer;
}

.show-full-description .down-arrow {
    width: 14px;
    vertical-align: text-bottom;
}

.detail-label {
    font-weight: bold;
}

.detail-description {
    color: rgb(75, 75, 75);
}

.location-map {
    width: 100%;
    object-fit: cover;
}

.location-drop-icon {
    width: 16px;
    vertical-align: text-bottom;
}