*{
  font-size: 14px;
}

.App {
  min-height: 100vh;
  background: lightgray;
  overflow: auto;
}

.paper-container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 8px;
  background: white;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  margin-bottom: 36px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 25% auto;
  grid-column-gap: 24px;
  height: 100%;
}

.top-navigation-bar {
  grid-column: 1 / span 2;
  height: 24px;
}

.hotel-profile-picture {
  width: 100%;
  margin-bottom: 24px;
  object-fit: cover;
}

.clickable {
  cursor: pointer;
}

.purple-text {
  color: rgb(155, 108, 155);
}

.back-icon {
  width: 15px;
  vertical-align: text-bottom;
  margin-right: 4px;
}