.App {
  min-height: 100vh;
  background: lightgray;
  overflow: auto;
}

.paper-container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 8px;
  background: white;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
}

.grid-layout {
  display: grid;
  grid-template-columns: 25% auto;
  height: 100%;
}

.top-navigation-bar {
  grid-column: 1 / span 2;
  height: 24px;
}

.left-col {
  background-color: pink;
}

.right-col {
  background-color: blue;
}